@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", serif;
}
header {
  height: 120px;
  box-shadow: 5px 5px 5px gray;
  text-align: center;
  background-color: rgb(232, 255, 245);
  position: sticky;
  right: 0;
  left: 0;
  top: 0;
  z-index: 100;
}
input {
  width: 50vw;
  height: 2rem;
  border: 1 solid gray;
  border-radius: 50px;
  margin: 20px auto;
  text-align: center;
}
ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}
img {
  width: 100%;
  max-width: 100px;
  height: 80px;
  object-fit: cover;
}
.container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
  margin: 20px 40px;
}
.box {
  padding: 3rem;
  min-width: 200px;
  min-height: 250px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgb(129, 127, 127);
  position: relative;
  margin: 20px 10px;
}
.rules {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 70px 150px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  min-width: fit-content;
}
.container > h2 {
  margin: 5px;
  padding: 20px;
  text-align: center;
  align-self: center;
}
ol {
  border-left: 1px solid black;
  height: 20rem;
  margin: 5px;
  padding: 50px;
}
@media (max-width: 1458px) {
  .rules {
    overflow: scroll;
  }
}

@media (max-width: 1100px) {
  input[type="search"] {
    display: none;
  }
  header {
    height: 50px;
  }
}
